{% extends "layout.njk" %}

{% block body %}
<!-- About -->
<section id="about" class="pt-5 ">
  <div class="container px-4 card background-blue">
    <div class="row gx-4 gx-lg-5 py-lg-5 align-items-center ">
      <div class="col-lg-6 ">
        <h1 class="display-5 fw-bold lh-1 mt-4">Présentation FoiR UNITED</h1>
        <p class="lead">L'association « FoiR UNITED » a été créée en 2023 pour reprendre le flambeau de l’association « FoiR » qui a œuvré depuis 2003 à développer et faire découvrir le théâtre d’improvisation dans le canton de Fribourg.</p>
				<p class="lead">FoiR UNITED comprend actuellement une cinquantaine de membre dont une trentaine d’anciens membres de la FoiR qui ont apporté leur soutien à la création de cette association et parmi eux, les sept membres d’origine. En tant qu’association faitière, FoiR UNITED poursuit un but d’encadrement et d’organisation d’équipes-association.</p>
				<p class="lead">Ses buts, ses valeurs et son organisation sont disponibles en consultations au travers de ses documents fondateurs (statuts, charte et règlement).</p>

      </div>
      <div class="col-lg-6"><img class="img-fluid rounded" src="images/team.jpg" alt="Une photo de la troupe" /></div>
    </div>
  </div>
</section>

<!-- Spectacle -->
<section id="spectacle" class="py-5">
  <div class="album ">
    <div class="container">
      <h1 class="display-5 fw-bold lh-1 mb-4 mt-4 ">Blog</h1>
      <div class="row">
				{% for show in shows %}
				<div class="col-md-4">
					<div class="card mb-4 box-shadow">
						<img class="card-img-top " src="images/match.jpg" alt="Card image cap">
						<div class="card-body">
							<h4 class="card-text">{{ show.title }}</h4>
							<h5 class="card-text">{{ show.date }}</h5>
							<h6 class="card-text">{{ show.hour }}</h6>
							{# <p class="card-text">{{ show.description }}</p> #}
							<div class="d-flex justify-content-between align-items-center">
								<div class="btn-group">
									<a href="/shows/{{ show.id }}" class="btn rose btn-sm btn-outline-primary">En savoir plus</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
    </div>
  </div>
</section>

<!-- Contact -->
<section class="py-5" id="contact">
  <div class="container card background-blue">
    <h1 class="display-5 fw-bold lh-1 mt-4">Nous contacter</h1>
    <div class="row gx-4 gx-lg-5 py-lg-3 align-items-center">
        <p class="lead">Tu aimes le théâtre et la liberté, la richesse de ne pas savoir où nous nous dirigeons lorsque nous sommes sur scène et les risques que cela implique, si tu désires rencontrer de nouvelles personnes et apprendre une discipline théâtrale aussi difficile qu'enrichissante: n'hésite plus, l'improvisation est faite pour toi !</p>
	      <p class="lead">Nous proposons également des animations ou des ateliers d’initiations pour des collaborations de spectacles (ex : festivals de musique/art de rue/théâtre), des soirées privées (ex : animations pour des écoles/CO, des  « soupers de boîte », des fêtes de quartiers, des meetings,…) ou des team-building (ex : ateliers pour apprendre à développer la confiance en soi, la prise de parole, etc…ou pour passer simplement un bon moment)</p>
			<div class="col-lg-6">
        <strong>Email: </strong><a href=mailto:logistique@impro-fribourg.ch>logistique@impro-fribourg.ch</a><br>
        <strong>Téléphone: </strong><a href=tel:+4179 123 45 67>079 123 45 67</a><br>
      </div>
    </div>
  </div>
</section>
{% endblock %}
