{% extends "layout.njk" %}

{% block body %}
<section id="admin">
  <div class="py-5">
    <div class="container card">
			<h1 class="display-5 fw-bold lh-1 mb-4 mt-4 ">Administration des spectacles</h1>
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Title</th>
						<th scope="col">Date</th>
						<th scope="col">Heure</th>
						<th scope="col">Prix</th>
						<th scope="col">Places réservées</th>
						<th scope="col">Voir</th>
						<th scope="col">Modifier</th>
						<th scope="col">Supprimer</th>
					</tr>
				</thead>
				<tbody>
					{% for show in shows %}
						<tr>
							<td>{{ show.title }}</td>
							<td>{{ show.date }}</td>
							<td>{{ show.hour }}</td>
							<td>{{ show.price }}</td>
							<td><a href="/reservations/{{ show.id }}">{{ show.reserved }}/{{ show.places }}</a></td>
							<td><a href="/shows/{{ show.id }}"><i class="bi bi-eye"></i></a></td>
							<td><a href="/shows/{{ show.id }}/edit"><i class="bi bi-pencil"></i></a></td>
							<td><a href="/shows/{{ show.id }}/delete"><i class="bi bi-trash"></i></a></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<a href="/shows/create" class="btn rose">Ajouter un spectacle</a>
		</div>
	</div>
</section>
{% endblock %}
